.formulario {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
  border-radius: 12px;
}

.formulario-contenido {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .formulario {
    padding: 1.5rem;
  }
}
