.cita {
  padding: 2rem;
  background: rgb(255, 255, 255);
  color: rgb(66, 50, 50);
  margin-bottom: 20px;
  border-radius: 10px;
}

.cita p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cita span {
  font-weight: normal;
}

.eliminar {
  background-color: #dfd5da;
  color: white;
  margin-top: 1rem;
  width: 100%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.eliminar:hover {
  background-color: #a0004a;
} 